<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
  .containers{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

.containers > .card{
  width: 45%;
  height: auto;
}

video{
  height: 397px;
}
  
  .card-header > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #d53a9d;
    padding: 5px;
  }
  @media (max-width: 770px) {
      .containers{
        display: flex;
        flex-direction: column;
      
      }
    .containers>   .card{
      width: 100%;
    }
}
</style>
<body>
    <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand text-light" href="/home">Vines</a>
        <a href="/me" class="text-light">Profile</a>
        <a href="/auth/signout" class="text-light">SignOut</a>
        <form class="form-inline" action="/search" method="GET">
          <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    <div class="container">
       <form action="/postsave" enctype="multipart/form-data" method="POST" class="mb-3">
            <div class="mt-4">
                <input class="form-control" type="text" name="title" placeholder="Title">
            </div>
            <div class="mt-2">
                <input type="file" name="video" class="form-control">
            </div>
            <div class="mt-2">                    
                <textarea id="my-textarea" class="form-control" name="desc" rows="3"></textarea>
            </div>
            <button class="mt-2  mb-2 btn btn-primary " type="submit">Post add</button>    
        </form>
        <div class="containers">
        <% result.forEach((result)=> { %>
          
            <div class="card mt-3">
                <div class="card-header"><img src="<%= result.PostedBy[0].image %>" width="30" alt="User Image" class="Img-Header"> <%= result.PostedBy[0].Username %></div>
                <video class="card-img-top"  controls >
                  <source src="<%=result.video%>" type="video/mp4">
                  <source src="<%=result.video%>" type="video/ogg">
                  <source src="<%=result.video%>" type="video/mov">
                  <source src="<%=result.video%>" type="video/mkv">
                  <source src="<%= result.video %>" type="video/webm"> 
                  

                  Your browser does not support the video tag.
                
                </video>
                <div class="card-body">
                  <h5 class="card-title"><%=result.title%></h5>
                  
                  <p class="card-text"><%=result.desc%><p>
                    <input type="text" value="vinescom.herokuapp.com/video/<%=result._id%>">
                </div>
              </div>
      <%  }); %>
            </div>
    </div>  
</body>

</html>
